extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Yazid Dau Camargo

        
        p Full Stack JavaScript Developer


        .about-bio

          
          p My name is Yazid Dau, an electrical engineer from Colombia, currently enroll on a Javascript Full Stack programa tought by Treehouse. This site is create to show all the great skill I have learn during my studies and present some of the projects I  have develop with those skill. 


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        
        ul
          li +57 312-670-8684
          li yazd113@gmail.com

        
        a.btn-link(href='https://www.linkedin.com/in/yazid-dau-camargo-90b31596/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/yazid113' target='_blank') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back